<!-- Third: display playlist details and delete a song -->

<label>Playlist Details</label>
<table class ="table table -sm table-striped">

  <thead>
  <tr>
    <th>Song Name</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <!--
    edit it after returning song
    <tr *ngFor = " let song of getSong()"> -->
    <td> {{song.name}} </td>
    <td>
      <button class="btn btn-sm btn-danger">
        Delete
      </button>
    </td>
  </tr>

  <!--<td>
    <button class = "btn btn-sm btn-warning"> -->
           <!-- change route later -->
            <!--[routerLink] = "user/playlist/:name"-->
      <!--Add New Song
    </button>
  </td> -->

  </tbody>

</table>


