<!-- Second: Search for a song, then add a song-->

<div class="well col-md-5 col-md-offset-3">
<form name="form"  #f="ngForm" novalidate>
    <!--<div class="form-group">-->
        <!--<label>Song Name</label>-->
        <!--<input class="form-control" name="name">-->
    <!--</div>-->


    <div class = "text-xs-center">
        <button type= "submit" class="btn primary" (click) = "showPlaylist()" > Show Playlist </button>
    </div>
    <form>
        <label>Song Name</label>
        <div class="form-group">
            <input type="text" name="songId" [(ngModel)]="songId" (keyup)="searchSong()" class="form-control">
        </div>
    </form>

    <h1>{{songName}}</h1>

    <div *ngIf="song">
        <a *ngFor="let detail of this.song.tracks.items">
            <h1>Song name: {{detail.name}}</h1>
            <!--artistName, releaseTitle, releaseType, songTitle-->
            <div class = "text-xs-center">
                <button type= "submit" class="btn primary" (click) = "saveSong(detail.artists[0].name, detail.name)"> Add Song </button>
            </div>
        </a>
    </div>


</form>
</div>
<router-outlet></router-outlet>