<nav class="navbar navbar-inverse">

</nav>

<label>Search by artist:</label>
<form>
  <div class="form-group">
    <input type="text" name="artistId" [(ngModel)]="artistId" (keyup)="searchArtist()">
  </div>
</form>

<label>Search by album:</label>
<form>
  <div class="form-group">
    <input type="text" name="albumId" [(ngModel)]="albumId" (keyup)="searchAlbum()">
  </div>
</form>

<label>Search by song:</label>
<form>
  <div class="form-group">
    <input type="text" name="songId" [(ngModel)]="songId" (keyup)="searchSong()">
  </div>
</form>

<h1>{{artistName}}</h1>
<div *ngIf="artist">
  <h1>Artist name: {{this.artist.artists.items[0].name}}</h1>
  <div *ngIf ="this.artist.artists.items[0].images.length > 0">
      <img class="artist-thumb img-circle" src="{{this.artist.artists.items[0].images[0].url}}">
  </div>
  <a *ngFor="let art of this.artist.artists.items[0].genres">
    <h1>Genres: {{art}}</h1>
  </a>
  <h1>Number of followers: {{this.artist.artists.items[0].followers.total}}</h1>
</div>

<h1>{{albumName}}</h1>
<div *ngIf="album">
  <div *ngIf ="this.album.albums.items[0].artists.length > 0">
    <h1>Artist name: {{this.album.albums.items[0].artists[0].name}}</h1>
  </div>
  <h1>Album name: {{this.album.albums.items[0].name}}</h1>
  <div *ngIf ="this.album.albums.items[0].images.length > 0">
    <img class="album-thumb img-circle" src="{{this.album.albums.items[0].images[0].url}}">
  </div>
</div>

<h1>{{songName}}</h1>

<div *ngIf="song">
  <a *ngFor="let detail of this.song.tracks.items">
    <h1>Song name: {{detail.name}}</h1>
    <h1><hr><a [routerLink]="['/track', detail.album.name]">Song Link</a></h1>
    <router-outlet></router-outlet>
  </a>
</div>
