<nav class="header header-inverse">
  <div class="container">
    <div class="header-header">
      <button type="button" class="header-toggle collapsed" data-toggle="collapse"
              data-target="#header" aria-expanded="false" aria-controls="header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="header-brand" href="#">MusicApp</a>
    </div>
    <div id="header" class="collapse header-collapse">
      <ul class="nav header-nav">np
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <!--<li><a routerLink="/about" routerLinkActive="active">About</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
