<label>Search by Album:</label>
<form>
  <div class="form-group">
    <input type="text" name="albumId" [(ngModel)]="albumId" (keyup)="searchAlbum()">
  </div>
</form>


<h1>{{albumName}}</h1>
<div *ngIf="album">
  <div *ngIf ="this.album.albums.items[0].artists.length > 0">
    <h1>Artist name: {{this.album.albums.items[0].artists[0].name}}</h1>
  </div>
  <h1>Album name: {{this.album.albums.items[0].name}}</h1>
  <div *ngIf ="this.album.albums.items[0].images.length > 0">
    <img class="album-thumb img-circle" src="{{this.album.albums.items[0].images[0].url}}">
  </div>
  <h1><hr><a [routerLink]="['/albumDetails', this.album.albums.items[0].href]">Album details</a></h1>
  <router-outlet></router-outlet>
</div>



